<div class="card w-auto ">
    <div class="card-header">
        <span class="fw-bold">Chart of results</span>
    </div>
    <div class="card-body">
        <div class="card chart-container">
            <canvas id="chart-<%- i %>"></canvas>
        </div>
    </div>
</div>