<div class="container-fluid d-flex align-items-center">
  <div class="row text-body-secondary">
    <div class="col-6 text-start">
      <a href="#" class="text-body-secondary"> @mikdevio </a>
    </div>
  </div>
  <div class="col-6 text-end text-white d-none d-md-block">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a href="#" class="text-white">Contact</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-white">About</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-white">Terms & Conditions</a>
      </li>
    </ul>
  </div>
</div>
