<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card w-50 h-25 ">
        <div class="card-header d-flex justify-content-around ">
            <div class="container d-md-flex align-items-baseline gap-2 ">
                <i class="bi bi-person-add h4"></i>
                <h4 class="modal-title fs-5" id="exampleModalToggleLabel2">Signup</h4>
            </div>
            <a class="text-white " href="/"><i class="bi bi-house h4"></i></a>
        </div>
        <div class="card-body">
            <form action="/user/signup" method="post" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="firstName" name="firstName"
                        placeholder="Your first name" required>
                    <label for="firstName">First Name</label>
                    <div class="invalid-feedback">Invalid first name</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your first name"
                        required>
                    <label for="lastName">Last Name</label>
                    <div class="invalid-feedback">Invalid last name</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@email.com"
                        required>
                    <label for="email">Email address</label>
                    <div class="invalid-feedback">Invalid email</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="verifyEmail" name="verifyEmail"
                        placeholder="name@email.com" required>
                    <label for="verifyEmail">Verify email address</label>
                    <div class="invalid-feedback">Invalid email</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                    <label for="password">Password</label>
                    <div class="invalid-feedback">Invalid password</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="verifyPassword" name="verifyPassword"
                        placeholder="Password" required>
                    <label for="verifyPassword">Confirm password</label>
                    <div class="invalid-feedback">Invalid password</div>
                </div>
                <div class="container">
                    <div class="row justify-content-between align-items-center ">
                        <div class="col-auto ps-0">
                            <div class="mb-0">
                                <select class="form-select" required aria-label="select example" required
                                    id="roleSelection" name="roleSelection">
                                    <option value="">Role</option>
                                    <option value="1">Manager</option>
                                    <option value="2">Seller</option>
                                    <option value="3">Supervisor</option>
                                </select>
                                <div class="invalid-feedback">Example invalid select feedback</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success btn-sm" type="submit">Signup</button>
                            <a class="btn btn-primary btn-sm" href="/user/login">Back to Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer d-flex justify-content-end pb-0">
            <p class="text-body-tertiary">@mikdevio</p>
        </div>
    </div>
</div>