<div class="container-fluid">
  <div class="mb-3">
    <h4 class="fw-bold fs-4 mb-3">Dashboard</h4>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body py-4">
            <h5 class="mb-2 fw-bold">Category 1</h5>
            <p class="mb-2 fw-bold">Result 1</p>
            <div class="mb-0">
              <span class="badge text-bg-success me-2"> Result 2 </span>
              <span class="fw-bold"> Desription </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body py-4">
            <h5 class="mb-2 fw-bold">Category 2</h5>
            <p class="mb-2 fw-bold">Result 1</p>
            <div class="mb-0">
              <span class="badge text-bg-success me-2"> Result 2 </span>
              <span class="fw-bold"> Description </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-body py-4">
            <h5 class="mb-2 fw-bold">Category 3</h5>
            <p class="mb-2 fw-bold">Result 1</p>
            <div class="mb-0">
              <span class="badge text-bg-danger me-2"> Result 2 </span>
              <span class="fw-bold"> Description </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="fw-bold fs-4 my-3">Chart of results</h4>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card chart-container">
          <canvas id="chart-1"></canvas>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card chart-container">
          <canvas id="chart-2"></canvas>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card chart-container">
          <canvas id="chart-3"></canvas>
        </div>
      </div>
    </div>

    <h4 class="fw-bold fs-4 my-3">Table of results</h4>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
