<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card w-50 h-25 ">
        <div class="card-header d-flex justify-content-around ">
            <div class="container d-md-flex align-items-baseline gap-2 ">
                <i class="bi bi-person-add h4"></i>
                <h4 class="modal-title fs-5" id="exampleModalToggleLabel2">Signup</h4>
            </div>
            <a class="text-white " href="/"><i class="bi bi-house h4"></i></a>
        </div>
        <div class="card-body">
            <% if(message) {%>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%- message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>

            <form action="/user/signup" method="post" id="signupForm" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="Your first name" required>
                    <label for="firstName">First Name</label>
                    <div class="invalid-feedback" id="firstNameValidationArea">Invalid first name</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your first name"
                        required>
                    <label for="lastName">Last Name</label>
                    <div class="invalid-feedback" id="lastNameValidationArea">Invalid last name</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@email.com"
                        required>
                    <label for="email">Email address</label>
                    <div class="invalid-feedback" id="emailValidationArea">Invalid email</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="verifyEmail" name="verifyEmail"
                        placeholder="name@email.com" required>
                    <label for="verifyEmail">Verify email address</label>
                    <div class="invalid-feedback" id="verifyEmailValidationArea">Invalid email</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                    <label for="password">Password</label>
                    <div class="invalid-feedback" id="passwordValidationArea">Invalid password</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmPassword" name="verifyPassword"
                        placeholder="Password" required>
                    <label for="verifyPassword">Confirm password</label>
                    <div class="invalid-feedback" id="confirmPasswordValidationArea">Invalid password</div>
                </div>
                <div class="container">
                    <div class="row justify-content-between align-items-center ">
                        <div class="col-auto ps-0">
                            <div class="mb-0">
                                <select class="form-select" required aria-label="select example" required
                                    id="roleSelection" name="roleSelection">
                                    <option value="">Role</option>
                                    <% roles.forEach((role, i) => { %>
                                        <option value="<%-i+1%>"><%-role.name%></option>
                                    <%}); %>
                                </select>
                                <div class="invalid-feedback" id="roleValidationArea">Example invalid select feedback</div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success btn-sm" type="submit">Signup</button>
                            <a class="btn btn-primary btn-sm" href="/user/login">Back to Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer d-flex justify-content-end pb-0">
            <p class="text-body-tertiary">@mikdevio</p>
        </div>
    </div>
</div>

<script>
    // Email validation
    const validateEmail = (email) => {
        return String(email)
            .toLowerCase()
            .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
    };

    const validatePassword = (password) => {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&^])[A-Za-z\d@.#$!%*?&]{8,15}$/.test(password);
    };

    (() => {
        "use strict";

        const signupForm = document.querySelector("#signupForm");

        signupForm.addEventListener("submit", e => {
            if (!signupForm.checkValidity()) {
                e.preventDefault();
                e.stopPropagation();
            }
                signupForm.classList.add("was-validated");
        }, false);

        
        let emailInput = document.querySelector("#email");
        let emailValidationArea = document.querySelector("#emailValidationArea");

        emailInput.addEventListener("input", () => {
            if(validateEmail(emailInput.value)){
                emailValidationArea.innerText = "Invalid email.";
                emailInput.classList.add("is-valid");
                emailInput.classList.remove("is-invalid");
            } else if ([null, ""].includes(emailInput.value)){
                emailInput.classList.remove("is-valid");
                emailInput.classList.remove("is-invalid");
            } else {
                emailValidationArea.innerText = "";
                emailInput.classList.add("is-invalid");
                emailInput.classList.remove("is-valid");
            }
        });
        
        let confirmEmailInput = document.querySelector("#verifyEmail");
        let verifyEmailArea = document.querySelector("#verifyEmailValidationArea");

        confirmEmailInput.addEventListener("input", () => {
            if(emailInput.value !== confirmEmailInput.value){
                verifyEmailArea.innerText = "Emails do not match."
                confirmEmailInput.classList.remove("is-valid");
                confirmEmailInput.classList.add("is-invalid");
            } else if ([null, ""].includes(confirmEmailInput.value)) {
                confirmEmailInput.classList.remove("is-valid");
                confirmEmailInput.classList.remove("is-invalid");
            } else {
                verifyEmailArea.innerText = "";
                confirmEmailInput.classList.remove("is-invalid");
                confirmEmailInput.classList.add("is-valid");
            }
        });

        let passwordInput = document.querySelector("#password");
        const passwordValidationArea = document.querySelector("#passwordValidationArea");

        passwordInput.addEventListener("input", () => {

            console.log(validatePassword(passwordInput.value))
            if(validatePassword(passwordInput.value)){
                passwordValidationArea.innnerText = "";
                passwordInput.classList.add("is-valid");
                passwordInput.classList.remove("is-invalid");
            } else if ([null, ""].includes(passwordInput.value)){
                passwordInput.classList.remove("is-valid");
                passwordInput.classList.remove("is-invalid");
            } else {
                passwordValidationArea.innerText = "Password invalid. It should have an upper letter and a special character.";
                passwordInput.classList.add("is-invalid");
                passwordInput.classList.remove("is-valid");
            }
        });

        let confirmPasswordInput = document.querySelector("#confirmPassword");
        let confirmPasswordlArea = document.querySelector("#confirmPasswordValidationArea");

        confirmPasswordInput.addEventListener("input", () => {
            if(passwordInput.value !== confirmPasswordInput.value){
                confirmPasswordlArea.innerText = "Emails do not match."
                confirmPasswordInput.classList.remove("is-valid");
                confirmPasswordInput.classList.add("is-invalid");
            } else if ([null, ""].includes(confirmPasswordInput.value)) {
                confirmPasswordInput.classList.remove("is-valid");
                confirmPasswordInput.classList.remove("is-invalid");
            } else {
                confirmPasswordlArea.innerText = "";
                confirmPasswordInput.classList.remove("is-invalid");
                confirmPasswordInput.classList.add("is-valid");
            }
        });
        
            
    })();
</script>