<header class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex gap-2" href="#"><i class="bi bi-receipt-cutoff"></i>FinalProject</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav me-auto gap-4 ms-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="d-flex btn-group">
                <a class="btn btn-primary btn-sm" href="/user/login">Login</a>
                <a class="btn btn-warning btn-sm" href="/user/signup">Signup</a>
            </form>
      </div>
    </div>
  </header>